<h3>Conditions</h3>

<%= form_tag '/conditions/search' do %>
<%= text_field_tag :term, "", placeholder: 'Search...' %><% end %>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Condition category</th>
      <th>Condition</th>
      <th>Users affected by this condition</th>
    </tr>
  </thead>
  <tbody>
  <% @conditions.each do |condition| %>
    <tr>
      <td><%= condition.condition_category_id %></td>
      <td><%= link_to condition.condition_name, "/conditions/#{condition.id}" %></td>
      <td><%= @user_count %> </td>

    </tr>
  <% end %>
  </tbody>
</table>

