<h1>Editing Treatment #<%= @treatment.id %></h1>


<%= form_tag(treatment_url(@treatment), method: 'put') do %>

  <div>
    <%= label_tag :treatment_name %><br />
    <%= text_field_tag :treatment_name, @user.treatment_name %>
  </div>

  <div>
    <%= label_tag :treatment_id %><br />
    <%= text_field_tag :treatment_id, @user.treatment_id %>
  </div>

  <div>
    <%= label_tag :treatment_category_id %><br />
    <%= text_field_tag :treatment_category_id, @user.treatment_category_id %>
  </div>


  <div>
    <%= submit_tag "Update Treatment" %>
  </div>

<% end %>
