<h2>Editing User #<%= @user.user_name %></h2>


<%= form_tag(user_url(@user), method: 'put') do %>

  <div>
    <%= label_tag :user_name %><br />
    <%= text_field_tag :user_name, @user.user_name %>
  </div>

  <div>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, @user.email %>
  </div>

    <div>
    <%= label_tag :password %><br />
    <%= password_field_tag :password, @user.password %>
  </div>

  <div>
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name, @user.first_name %>
  </div>

  <div>
    <%= label_tag :last_name %><br />
    <%= text_field_tag :last_name, @user.last_name %>
  </div>

    <div>
    <%= label_tag :user_type %><br />
    <%= text_field_tag :user_type, @user.user_type %>
  </div>

    <div>
    <%= label_tag :zip_code %><br />
    <%= text_field_tag :zip_code, @user.zip_code %>
  </div>

  <div>
    <%= label_tag :condition_id %><br />
    <%= text_field_tag :condition_id, @user.condition_id %>
  </div>

  <div>
    <%= label_tag :treatment_id %><br />
    <%= text_field_tag :treatment_id, @user.treatment_id %>
  </div>

    <div>
    <%= label_tag :comments %><br />
    <%= text_field_tag :comments, @user.comments %>
  </div>

  <div>
    <%= submit_tag "Update User" %>
  </div>

<% end %>
