<h2>Users</h2>

<%= form_tag '/users/search' do %>
<%= text_field_tag :term, "", placeholder: 'Search...' %><% end %>

<p><%= link_to 'Add a New User', new_user_url %></p>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Zip code</th>
      <th>User type</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.user_name.truncate(40), "/users/#{user.id}" %></td>
      <td><%= user.zip_code %></td>
      <td><%= user.user_type %></td>
      <td><%= user.email.truncate(25) %></td>
      <td><%= link_to 'Edit', edit_user_url(user) %> |
      <%= link_to 'Delete', user_url(user), method: 'delete', data: { confirm: "Do you really want to delete this user?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>
