<h1>New User</h1>


<%= form_tag(users_url, method: 'post') do %>


  <div>
    <%= label_tag :user_name %><br />
    <%= text_field_tag :user_name %>
  </div>

  <div>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>

  <div>
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name %>
  </div>

  <div>
    <%= label_tag :last_name %><br />
    <%= text_field_tag :last_name %>
  </div>


  <div>
    <%= label_tag :zip_code %><br />
    <%= text_field_tag :zip_code %>
  </div>

  <div>
    <%= label_tag :user_type %><br />
    <%= text_field_tag :user_type %>
  </div>

  <div>
    <%= label_tag :condition_id %><br />
    <%= text_field_tag :condition_id %>
  </div>

  <div>
    <%= label_tag :treatment_id %><br />
    <%= text_field_tag :treatment_id %>
  </div>

    <div>
    <%= label_tag :comments %><br />
    <%= text_field_tag :comments %>
  </div>

  <div>
    <%= submit_tag "Create User" %>
  </div>
<% end %>
