<h1><%= @user.user_name %></h1>

<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>User Type: <%= @user.user_type %></p>
<p>Zip Code: <%= @user.zip_code %></p>
<p>Condition ID: <%= @user.condition_id %></p>
<p>Treatments: <%= @user.treatments_advised %></p>
<p>Comments: <%= @user.comments %></p>
