<h2>User profile: <%= @user.user_name %></h2>

<dl class="dl-horizontal">
<dt>First Name:</dt> <dd><%= @user.first_name %></dd>
<dt>Last Name:</dt> <dd><%= @user.last_name %></dd>
<dt>User Type:</dt> <dd><%= @user.user_type %></dd>
<dt>Zip Code:</dt> <dd><%= @user.zip_code %></dd>
<dt>Condition ID:</dt> <dd><%= @user.condition_id %></dd>
<dt>Treatments:</dt> <dd><%= @user.treatment_id %></dd>
<dt>Comments:</dt> <dd><%= @user.comments %></dd>
</dl>
