<!DOCTYPE html>
<html>
<head>
  <title>PatientHub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>PatientHub</h1>
    <nav>
      <%= link_to "Conditions", '/conditions' %> |
      <%= link_to "Users", '/users' %> |
      <% if session["user_id"].present? %>
        Hello, <%= User.find_by_id(session["user_id"]).name %>!
        <%= link_to "Sign Out", "/logout" %>
      <% else %>
        <%= link_to "Sign Up", '/users/new' %> |
        <%= link_to "Login", '/login' %> |
      <% end %>
      <%= form_tag '/search' do %>
        <%= text_field_tag :term, "", placeholder: 'Search...' %>
      <% end %>
    </nav>
  </header>

  <div class="notice"><%= notice %></div>

  <%= yield %>

</body>
</html>
